[submodule "pages/system"]
	path = pages/system
	url = https://github.com/AntoineBoulet/sites-commons.git
[submodule "notes/system"]
	path = notes/system
	url = https://github.com/AntoineBoulet/sites-commons.git
